<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlServerConnection" providerName="System.Data.ProviderName" connectionString="SQLServerConnection" />
    <add name="OleDbServerConnection" providerName="System.Data.ProviderName" connectionString="OleDbServerConnection" />
  </connectionStrings>
</configuration>